---
layout: default
---

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="entry-text">
      <p>Glücklich zu sein lässt es sich trainieren - wie eine Kampfkunst oder eine Programmiersprache. </p>
			<p>Als Software-Entwicklerin habe ich meinen Alltag und den meiner Kollegen oft als ermüdend, frustrierend, langweilig oder überfordernd empfunden. Dabei liegt es ja meistens nicht am Programmieren selbst! Eher "irgendwie" an den Randbedingungen... oder?</p>
			<p>Ich habe mich auf die Suche nach einem Ausweg gemacht und bin fündig geworden. Deshalb schreibe ich hier über meine Entdeckungen, wie wir glücklicher werden können. Weil ich will, dass wir wieder die Köpfe und Herzen frei haben - um mit Leib und Seele gute Programme zu schreiben!</p>
			<p><b>Dein erster Schritt zu einem glücklicheren Dasein als Programmierer ist schon geschafft: Du bist hier und kannst lernen, dein Glück selbst in die Hand zu nehmen.</b> </p>
			<p>Herzlich Willkommen!</p>

    </div>
  </div>
</div>

{% for post in site.posts limit: 5 %}
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="post-summary">
			<h3><a href="{{post.url}}">{{ post.title }}</a></h3>
			<div class="row">
				{% if post.pic != %}
					<div class="col-md-3">
						<img src=/img/blogbilder/{{ post.pic }}>
					</div>
					<div class="col-md-9">
				{% else %}
					<div class="col-md-12">
				{% endif %}
				{{ post.content | strip_html | truncatewords:42}}
				<br><a class="pull-right" href="{{post.url}}">weiterlesen...</a>
			</div>
		</div>
	</div>
</div>
</div>
{% endfor %} 

