<div class="row profiles">

  <div class="col-xs-3 col-xs-offset-1">

  </div>

  <div class="col-xs-3 col-xs-offset-1">
    <h4>Folge mir</h4>
    <ul>
      <li><a href="https://twitter.com/FriederikeLoewe"><i class="fa fa-twitter-square fa-lg"></i> Twitter</a></li>
      <li><a href="https://www.facebook.com/happyhackerde/"><i class="fa fa-facebook-square fa-lg"></i> Facebook</a></li>
      <li><a href="https://www.xing.com/profile/Friederike_Loewe"><i class="fa fa-xing-square fa-lg"></i> XING</a></li>
    </ul>
  </div>

  <div class="col-xs-3 col-xs-offset-1">
    <h4>Mehr von mir</h4>
    <ul>
      <li><a href="https://github.com/FriederikeLoewe"><i class="fa fa-github-square fa-lg"></i> Github</a></li>
      <li><a href="http://www.loewe.io"><i class="fa fa-bookmark fa-lg"></i> loewe.io</a></li>
    </ul>
  </div>
</div>
