---
layout: default
---

<div class="row">
  <div class="col-md-9 col-md-offset-2">

    <div class="post-heading"><h2>{{ page.title }}</h2></div>
    <div class="post-meta">{{ page.date | date: "%d. %m. %Y" }}</div>
    <div class="post-content">{{ content }}</div>

  </div>
</div>

<div class="row">
  <div class="post-links col-sm-4 col-sm-offset-2">
    {{ if page.previous != nil }}
      <h5>vorhergehender Artikel</h5>
      <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
    {{ endif }}
  </div>

  {{ if page.next != nil }}
    <div class="post-links col-sm-4 col-sm-offset-2">
      <h5>nächster Artikel</h5>
      <a href="{{ page.next.url }}">{{ page.next.title }}</a>
    </div>
  {{ endif }}
</div>

